<!DOCTYPE HTML>
<html>
<head>
<title>Karotpay - Authentification</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="{{ asset('template/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('template/css/bootstrap-theme.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('template/css/reset.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('template/css/structure.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('template/css/login.css') }}">
</head>

<body>
    {% block body %}
    {% endblock %}
</body>
</html>
